@tailwind base;
@tailwind components;
@tailwind utilities;

/*
.header-container {
    text-decoration: underline;
    text-decoration-color: blue;
    column-count: 3;
    background: rgb(145,206,224);
    background: radial-gradient(circle, rgba(145,206,224,1) 0%, rgba(167,166,166,1) 100%);
    border-radius: 10px;
    border-width: 4px;
    border-color: rgb(4, 153, 153);
} */
body {
    overflow: auto;
    background-color: #0f1b42;
}

.activities, .groups {
    display: flex;
    flex-flow: row wrap;
    inline-size: 800px;
    align-items: center;
    justify-content: center;
}

.trip-details-button {
    color: white;
    background-color: #6663fd;
    border-radius: 8px;
    width: 110px;
    height: 35px;
    font-family: 'Libre Franklin';
}

.trip-details-button-container {
    display: flex;
    justify-content: center;
}

input.trip-details-input {
    background-color: #333f68;
    color: #95a3c1;
    font-family: 'Libre Franklin';
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88vh;
    width: 100vw;
}

.activity-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: #333f68;
    color: #95a3c1;
    width: 240px;
    height: 85px;
    text-align: center;
    text-justify: center;
    font-weight: bold;
    font-size: 150%;
    margin: 10px;
   /* box-shadow: 10px 5px 5px black; */
}

input[type='checkbox'], input[type='radio'] {
    width: 20px;
    accent-color: #0f1b42;
    vertical-align: middle;
}

.group-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: #333f68;
    /* box-shadow: 10px 5px 5px black; */
    color: #95a3c1;
    padding: 24px;
    width: 240px;
    height: 85px;
    text-align: center;
    text-justify: center;
    font-weight: bold;
    font-size: 145%;
    margin: 10px;
}

.typed-input {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    box-shadow: 0px 0px 8px;
    margin: 5px;
    position: relative;
}

#itinerary-grid {
    display: flex;
    flex-wrap: wrap;
}

.trip-tile {
    border: 0.75px solid black;
    border-radius: 5px;
    padding: 20px;
    /* padding-left: 20px;
    padding-bottom: 20px; */
    min-width: 400px;
    margin: 10px;

    /* display: flex;
    flex-direction: column; */
}

.tile-buttons {
    color: blue;
    max-width: 150px;
    display: flex;
    justify-content: space-between;

    :hover {
        text-decoration: underline;
    }
}

#loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start {
    color: blue;
    text-decoration: underline;
}

#itinerary-page {
   /* background-color: #0f1b42; */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: white;
   margin-top: 12vh;
   height: 100vh;
   width: 99vw;
}

#itinerary-details {
    
}

.date {
    font-weight: bold;
    align-self: center;

}

.day-entry {
    margin-left: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    border-bottom: 2px solid;
    border-bottom-color: #95a3c1;
}

.day-details {
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
}

.time-of-day {
    font-weight: bold;
    text-align: center;
}

.activity-details {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color:  #333f68;
    padding: 20px;
    border-radius: 20px;

}

.activity-header {
    display: flex;
    justify-content: space-between;
}


.login-container {
    border: black;
    border-width: 5px !important;
}