.form-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 94vh;
  width: 100wh;
  font-family: 'Raleway';
  overflow: hidden;
}

.form-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #95a3c1;
  background-color: #0f1b42;
}
