 @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin');
 #landing {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/background.jpg');
    background-size: cover;
  }

  #slogan {
    position: relative;
    left: 1.5vw;
    top: 0.5vh;
    font-family: 'Libre Franklin';
    font-size: 75px;
    font-weight: 800;
    color: white;
    inline-size: 50vw;
  }

  #start {
    position: relative;
    left: 18.5vw;
    bottom: 5.5vh;
    display: inline-block;
    background: white;
    border-radius: 4px;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
  }
