 @import url('https://fonts.googleapis.com/css2?family=Raleway');
 @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin');

 #landing {
   width: 100vw;
   height: 100vh;
   background-image: url('../assets/background.jpg');
   background-size: cover;
 }

 body {
   overflow: hidden;
 }

 .slogan {
   font-family: 'Libre Franklin';
   font-size: 5vw;
   font-weight: 800;
   color: white;
   inline-size: 55vw;
   position: relative;
   left: 12vw;
   top: 14vh;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   gap: 2vh;
 }

 .get-started {
   font-size: 1vw;
   font-weight: 800;
   font-family: 'Raleway';
   text-align: center;
   text-decoration: none;
   text-decoration-color: white;
   background: white;
   border-radius: 4px;
   color: black;
   padding: 2vh;
   inline-size: 10vw;
 }