.updateActivitiesButton {
    align-self: center;
    font-size: 10px;
    color: white;
    background-color: #6663fd;
    border-radius: 8px;
    width: 100px;
    height: 15px;
    font-family: 'Libre Franklin';
}

.activityDropdown {
    margin-right: 5px;
    background-color: #6663fd;
    color: white;
    border-radius: 8px;
    width: 82px;
    height: 15px;
    font-size: 12px;
}

.activityDropdown:hover {
    color: white;
}

.rerollActivities {
   display: flex;
   align-items: center;
}

.rerollButton {
    font-size: 16px;
}